organization/magnetocorp/application/node_modules/
organization/magnetocorp/commercial-bond/node_modules/
organization/magnetocorp/identity/user/
organization/magnetocorp/commercial-bond/package-lock.json
organization/magnetocorp/contract/.DS_Store
organization/digibank/application/node_modules/
organization/digibank/commercial-bond/node_modules/
organization/digibank/identity/user/
organization/digibank/commercial-bond/package-lock.json
package-lock.json
.vscode
.DS_Store
organization/magnetocorp/.DS_Store
